body {
  background-color: black;
  margin: 0px;
}

.container{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  background-color:black;
  margin:0px;
}

.text{
  color:white;
  font-size:36px;
  font-weight:bold;
  text-align: center;
  animation-name:move;
  animation-duration:2s;
  animation-fill-mode: backwards;
  animation-timing-function:cubic-bezier(.87,0,.75,1.25);
  animation-iteration-count: ;
}

@keyframes move{
  from {
    transform: translateX(-1000px);
  }
  
  to {
    transform:translateX(0px);
  }
}